/* フォントの設定 */
.m-plus-1-regular {
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.m-plus-1-code-regular {
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
code,
code pre {
	font-family: "M PLUS 1 Code", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
code pre {
	color: white;
	background-color: firebrick;
}